@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

html{
    font-size: 100%;
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #eca9a9;
    cursor: pointer;
}
.main{
    position: relative;
    top: 0%;
    left: 50%;
    translate: -50% 0%;
    width: 700px;
    height: 700px;
    /* background-color: #862e2e; */
    user-select: none;
}

.count{
    position: absolute;
    color: #420a0a;
    font-weight: 700;
    font-family: "Noto Sans JP", sans-serif;
    user-select: none;
    text-align: center;
    font-size:XX-large;
    top: 80px;
    left: 50%;
    translate: -50%;
}

.woodenfish{
    position: absolute;
    top: 440px;
    right: 70px;
    width: calc(166px * 1.5);
    height: calc(113px * 1.5);
    background: url(img/img2.png)no-repeat;
    /* background-color: #a9e2ec; */
    background-size: contain;
}

.stick{
    position: absolute;
    top: 100px;
    left: 10px;
    width: calc(102px * 1.5);
    height: calc(314.5px * 1.5);
    background: url(img/img1.png)no-repeat;
    /* background-color: #a9e2ec; */
    background-size: contain;
    transform-origin: 50% 100%;
}