@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');

html{
    font-size: 100%;
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #eca9a9;
    cursor: pointer;
    user-select: none;
}
.main{
    position: relative;
    top: 0%;
    left: 50%;
    translate: -50% 0%;
    width: 350px;
    height: 500px;
    /* background-color: #862e2e; */
}

.count{
    color: #FFF;
    font-family: "Noto Sans JP", sans-serif;
    user-select: none;
    text-align: center;
    font-size:XX-large;
}

.woodenfish{
    position: absolute;
    top: 300px;
    right: 30px;
    width: calc(166px * 0.8);
    height: calc(113px * 0.8);
    background: url(img/img2.png)no-repeat;
    /* background-color: #a9e2ec; */
    background-size: contain;
}

.stick{
    position: absolute;
    top: 100px;
    width: calc(102px * 0.8);
    height: calc(314.5px * 0.8);
    background: url(img/img1.png)no-repeat;
    /* background-color: #a9e2ec; */
    background-size: contain;
    transform-origin: 50% 100%;
}
